*{
    margin: 0;
    padding: 0;
}

button{
    color: orange;
    background: rgb(243, 243, 243);
        
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-skills{
    width: 200px;
    height: 120px;
    border-radius: 8px; 
    font-size: 35px;   
}

.my-skills:hover, .faq:hover{
    background: rgb(255, 197, 89);
    color: white;
    transition: all .3s;
}

.faq{
    width: 200px;
    height: 120px;
    border-radius: 8px;
    margin: 20px;
    font-size: 35px;
}


